[submodule "apps/nushell"]
	path = apps/nushell
	url = git@github.com:nushell/nushell.git
[submodule ".config/nushell"]
	path = .config/nushell
	url = git@github.com:alexript/nushell_config.git
[submodule "apps/v"]
	path = apps/v
	url = git@github.com:vlang/v.git
[submodule "apps/tinycc"]
	path = apps/tinycc
	url = git://repo.or.cz/tinycc.git
[submodule "apps/wezterm"]
	path = apps/wezterm
	url = git@github.com:wez/wezterm.git
